


<section class="container main-content">
  <div class="row">
    <div class="col-md-9">
      <% if flash[:notice] %>
          <div class="alert-message success">
            <i class="icon-flag"></i>
            <p><span></span><br>
              <%= flash[:notice] %></p>
          </div>
      <% end %>
      <% if flash[:alert] %>
          <div class="alert-message error">
            <i class="icon-flag"></i>
            <p><span></span><br>
              <%= flash[:alert] %></p>
          </div>
      <% end %>
      <article class="question single-question question-type-normal">
        <h2>
          <a href="single_question.html"><%= @question.title %></a>
        </h2>
        <div class="question-inner">
          <div class="clearfix"></div>
          <div class="question-desc">
            <p><%= @question.content %></p>
          </div>
          <div class="question-details">
            <span class="question-answered question-answered-done"><i class="icon-ok"></i>solved</span>
            <span class="question-favorite"><i class="icon-star"></i>5</span>
          </div>
          <span class="question-date"><i class="icon-time"></i><%= @question.created_at.strftime("%d/%m/%Y") %></span>
          <span class="question-comment"><a href="#"><i class="icon-comment"></i><%= pluralize(@question.answers.size(), 'Answer') %></a></span>
          <span class="single-question-vote-result">+22</span>
          <ul class="single-question-vote">
            <li>
              <%= link_to liked_question_path, remote: true, method: :delete, data: { type: :json }, class: "single-question-vote-down", title: "Dislike" do %>
                  <i class="icon-thumbs-down"></i>
              <% end %>
            </li>
            <li>
              <%= link_to liked_questions_path(question_id: @question.id), remote: true, method: :post, data: { type: :json }, class: "single-question-vote-up", title: "Like" do %>
                  <i class="icon-thumbs-up"></i>
              <% end %>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </article>

      <div class="share-tags page-content">
        <div class="question-tags"><i class="icon-tags"></i>
          <a href="#">wordpress</a>, <a href="#">question</a>, <a href="#">developer</a>
        </div>
        <div class="share-inside-warp">
          <ul>
            <li>
              <a href="#" original-title="Facebook">
									<span class="icon_i">
										<span class="icon_square" icon_size="20" span_bg="#3b5997" span_hover="#666">
											<i i_color="#FFF" class="social_icon-facebook"></i>
										</span>
									</span>
              </a>
              <a href="#" target="_blank">Facebook</a>
            </li>
            <li>
              <a href="#" target="_blank">
									<span class="icon_i">
										<span class="icon_square" icon_size="20" span_bg="#00baf0" span_hover="#666">
											<i i_color="#FFF" class="social_icon-twitter"></i>
										</span>
									</span>
              </a>
              <a target="_blank" href="#">Twitter</a>
            </li>
            <li>
              <a href="#" target="_blank">
									<span class="icon_i">
										<span class="icon_square" icon_size="20" span_bg="#ca2c24" span_hover="#666">
											<i i_color="#FFF" class="social_icon-gplus"></i>
										</span>
									</span>
              </a>
              <a href="#" target="_blank">Google plus</a>
            </li>
            <li>
              <a href="#" target="_blank">
									<span class="icon_i">
										<span class="icon_square" icon_size="20" span_bg="#e64281" span_hover="#666">
											<i i_color="#FFF" class="social_icon-dribbble"></i>
										</span>
									</span>
              </a>
              <a href="#" target="_blank">Dribbble</a>
            </li>
            <li>
              <a target="_blank" href="#">
									<span class="icon_i">
										<span class="icon_square" icon_size="20" span_bg="#c7151a" span_hover="#666">
											<i i_color="#FFF" class="icon-pinterest"></i>
										</span>
									</span>
              </a>
              <a href="#" target="_blank">Pinterest</a>
            </li>
          </ul>
          <span class="share-inside-f-arrow"></span>
          <span class="share-inside-l-arrow"></span>
        </div><!-- End share-inside-warp -->
        <div class="share-inside"><i class="icon-share-alt"></i>Share</div>
        <div class="clearfix"></div>
      </div><!-- End share-tags -->

      <% if @question.answers.size > 0  %>
      <div id="commentlist" class="page-content">
        <div class="boxedtitle page-title"><h2>Answers ( <span class="color"><%= @question.answers.size %></span> )</h2></div>
        <ol class="commentlist clearfix">
        <% @question.answers.order('created_at desc').each do |answer| %>
          <li class="comment">
            <div class="comment-body clearfix">
              <div class="avatar"><img alt="" src="http://placehold.it/60x60/FFF/444"></div>
              <div class="comment-text">
                <div class="author clearfix">
                  <div class="comment-author"><a href="#"><%= answer.user.username %></a></div>
                  <div class="comment-vote">
                    <ul class="question-vote">
                      <!--
                      <li><a href="#" class="question-vote-up" title="Like"></a></li>
                      -->
                      <%= form_tag("/answers/#{answer.id}/answer_attributes/#{answer.answer_attribute.id}", method: :put, remote: true, class: "like_form") do -%>
                      <li><%= link_to "", "#", class: "question-vote-up", title: "Like", data: { type: :json } %></li>
                      <% end -%>
                      <%= form_tag("/answers/#{answer.id}/answer_attributes/#{answer.answer_attribute.id}", method: :delete, remote: true, class: "dislike_form") do -%>
                          <li><%= link_to "", "#", class: "question-vote-down", title: "Dislike", data: { type: :json } %></li>
                      <% end -%>
                      <!--
                      <li><a href="#" class="question-vote-down" title="Dislike"></a></li>
                        -->
                    </ul>
                  </div>
                  <span id="answer_<%= answer.id %>_vote_count" class="question-vote-result"><%= answer.answer_attribute.like %></span>
                  <div class="comment-meta">
                    <div class="date"><i class="icon-time"></i><%= answer.updated_at.strftime('%A %e, %Y at %H:%M') %></div>
                  </div>
                  <a class="comment-reply" href="#"><i class="icon-reply"></i>Reply</a>
                </div>
                <div class="text"><p><%= answer.content %></p>
                </div>
                <% if answer.answer_status_id.eql? 3 %>
                <div class="question-answered question-answered-done"><i class="icon-ok"></i>Best Answer</div>
                <% else %>
                    <% if (@question.user_id.eql? session[:user_id]) && (@question.has_best_answer.eql? 0) %>
                        <%= button_to "Select as Best Answer" , select_as_best_answer_path(question_id: @question.id, answer_id: answer.id), class: "button small color", data: { confirm: 'Are you sure?' } %>
                    <% end %>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
        </ol><!-- End commentlist -->
      </div>
      <% end %>


      <% if session[:user_id].nil? %>

      <% else %>
      <div id="respond" class="comment-respond page-content clearfix">
        <div class="boxedtitle page-title"><h2>Leave a reply</h2></div>
        <%= form_tag("/questions/#{@question.id}/answers") do -%>
          <div id="respond-textarea">
            <p>
              <label class="required" for="content">Comment<span>*</span></label>
              <textarea id="content" name="content" aria-required="true" cols="58" rows="8"></textarea>
            </p>
          </div>
          <p class="form-submit">
            <input name="submit" type="submit" id="submit" value="Post your answer" class="button small color">
          </p>
        <% end %>
      </div>
      <% end %>
    </div><!-- End main -->
    <aside class="col-md-3 sidebar">








      <div class="widget widget_tag_cloud">
        <h3 class="widget_title">Tags</h3>
        <a href="#">projects</a>
        <a href="#">Portfolio</a>
        <a href="#">Wordpress</a>
        <a href="#">Html</a>
        <a href="#">Css</a>
        <a href="#">jQuery</a>
        <a href="#">2code</a>
        <a href="#">vbegy</a>
      </div>

      <div class="widget">
        <h3 class="widget_title">Recent Questions</h3>
        <ul class="related-posts">
          <li class="related-item">
            <h3><a href="#">This is my first Question</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="clear"></div><span>Feb 22, 2014</span>
          </li>
          <li class="related-item">
            <h3><a href="#">This Is My Second Poll Question</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="clear"></div><span>Feb 22, 2014</span>
          </li>
        </ul>
      </div>

    </aside><!-- End sidebar -->
  </div><!-- End row -->
</section><!-- End container -->
<script type="text/javascript">
    $(function(){
        $('.question-vote-up').click(function(){
            $(this).parent().parent().submit();
            return false;
        });

        $('.question-vote-down').click(function(){
            $(this).parent().parent().submit();
            return false;
        });

        $(".like_form").on("ajax:success", function(event, data){
            if(data.status == 1){
                $('#answer_' + data.answer_id + '_vote_count').text(data.message);
            }
            else if(data.status == 0){
                alert(data.message);
            }
        });

        $(".dislike_form").on("ajax:success", function(event, data){
            if(data.status == 1){
                $('#answer_' + data.answer_id + '_vote_count').text(data.message);
            }
            else if(data.status == 0){
                alert(data.message);
            }
        });

        $(".single-question-vote-up").on("ajax:success", function(event, data){
            if(data.status == 1){
                //$('#answer_' + data.answer_id + '_vote_count').text(data.message);
            }
            else if(data.status == 0){
                alert(data.message);
            }
        });

        $(".single-question-vote-down").on("ajax:success", function(event, data){
            if(data.status == 1){
                //$('#answer_' + data.answer_id + '_vote_count').text(data.message);
            }
            else if(data.status == 0){
                alert(data.message);
            }
        });
    });
</script>