<% cache ['entry', recent_question] do %>
    <article class="question question-type-normal">
      <h2>
        <%= link_to recent_question.title, recent_question %>
      </h2>
      <div class="question-author">
        <a href="#" original-title="<%= recent_question.user.username %>" class="question-author-img tooltip-n"><span></span><img alt="" src="http://placehold.it/60x60/FFF/444"></a>
      </div>
      <div class="question-inner">
        <div class="clearfix"></div>
        <p class="question-desc"><%= recent_question.content %></p>
        <div class="question-details">
          <span class="question-answered question-answered-done"><i class="icon-ok"></i><%= recent_question.question_status.name  %></span>
          <span class="question-favorite"><i class="icon-star"></i>5</span>
        </div>
        <span class="question-date"><i class="icon-time"></i>4 mins ago</span>
        <span class="question-comment"><a href="#"><i class="icon-comment"></i><%= recent_question.answers.size() %> Answer</a></span>
        <div class="clearfix"></div>
      </div>
    </article>
<% end %>