<%= form_for(@liked_question) do |f| %>
  <% if @liked_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@liked_question.errors.count, "error") %> prohibited this liked_question from being saved:</h2>

      <ul>
      <% @liked_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.text_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
